body {
    font-family: Lucida, sans-serif;
    color: #333;
}

h1 {
    margin-bottom: 36px;
    text-align: center;
}

h3 {
    margin-top: 30px;
    margin-bottom: 6px;
}

pre {
    margin: 0px;
}

#wrapper {
    width: 350px;
    margin: 0 auto;
    padding-top: 50px;
}

#choice {
    width: 190px;
    padding: 8px 16px;
}

#button {
    padding: 8px 16px;
}

#frame {
    box-sizing: border-box;
    height: 50px;
    width: 342px;
}

#margin-correction {
    margin-top: 26px;
}

#json {
    box-sizing: border-box;
    height: 80px;
    width: 342px;
    padding: 8px;
    border: 1px solid #aaa;
    font-family: monospace;
    color: #000;
}